// =============================================
// 大会詳細ページ
// =============================================
.detail {
  width: 100%;
  background-color: $color-black;

  &_header {
    @include pageHeader();
    position: relative;
    z-index: 1;

    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(30%);
      }
    }
  }
}