// =============================================
// 大会詳細ページ
// =============================================
.detail {
  width: 100%;
  background-color: $color-black;

  &_header {
    @include pageHeader();
    position: relative;
    z-index: 1;

    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(30%);
      }
    }

    &::after {
      aspect-ratio: 62 / 1;
      background: linear-gradient(177.77deg, #462AB5 1.88%, #9A6DC8 172.08%);
      clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    }
  }
}