// =============================================
// 大会作成ページ
// =============================================
.main_wrapper {
  width: 100%;
  padding-bottom: 80px;
  background-color: $color-bg;
}

.page_title {
  margin-bottom: 60px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/../img/auth-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: bold;
  
  @include pcTab {
    padding: 80px 0;
    background-position: center;
  }
  @include sp {
    padding: 60px 0;
    background-position: top;
  }
}

.hold_form {
  @include innerWidth(720px);

  &-item {
    width: 100%;
    margin-bottom: 40px;

    @include pcTab {
      display: flex;
      align-items: center;
    }

    label {
      
      @include pcTab {
        width: 28%;
        font-size: 22px;
      }
      @include sp {
        margin-bottom: 10px;
        font-size: 18px;
      }

      &:hover {
        color: $color-hover;
        cursor: pointer;
      }
    }

    .textArea-label {
      @include pcTab {
        align-self: flex-start;
      }
    }
  }

  &-select {

    @include pcTab {
      width: 72%;
    }
    @include sp {
      width: 100%;
    }

    select {
      @include formInput(#ffffffee, #000);

      @include pcTab {
        font-size: 22px;
      }
      @include sp {
        font-size: 18px;
      }
    }
  }

  &-input {

    @include pcTab {
      width: 72%;
    }
    @include sp {
      width: 100%;
    }

    input {
      @include formInput();
      padding: 0.375rem 0.75rem;
      border-bottom: 1px solid #fff;
      
      @include pcTab {
        font-size: 22px;
      }
      @include sp {
        font-size: 18px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-basicRule {
    margin-top: 80px;

    @include pcTab {
      font-size: 22px;
    }
    @include sp {
      font-size: 18px;
    }

    dt {
      font-weight: normal;

      @include pcTab {
        align-self: flex-start;
        width: 28%;
        font-size: 22px;
      }
      @include sp {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }

    dd {
      @include pcTab {
        width: 72%;
        font-size: 18px;
      }
      @include sp {
        width: 100%;
        font-size: 16px;
      }  
    }
  }

  &-textArea {

    @include pcTab {
      width: 72%;
    }
    @include sp {
      width: 100%;
    }

    textarea {
      @include formInput(#ffffffee, #000);
      height: 8em;
      
      @include pcTab {
        font-size: 22px;
      }
      @include sp {
        font-size: 18px;
      }
    }
  }

  &-submit {
    margin-top: 80px;

    button {
      @include linkButton();
      margin: 0 auto;
    }
  }
}