// =============================================
// 開催者専用ページ
// =============================================
.hostOnly {
  width: 100%;
  background-color: $color-black;

  // ページヘッダー
  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 28vw;
    max-height: 335px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/auth-bg.jpg);
    background-size: cover;
    background-position: center;
    
    @include pcTab {
      margin-bottom: 120px;
    }
    @include sp {
      margin-bottom: 80px;
    }

    h1 {

      @include pcTab {
        font-size: 2.0rem;
      }
      @include sp {
        font-size: 1.2rem;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      aspect-ratio: 62 / 1;
      background: linear-gradient(177.77deg, #462AB5 1.88%, #9A6DC8 172.08%);
      clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    }  
  }

  &_back-link {
    margin-bottom: 72px;
    text-align: center;

    a {
      display: inline-block;
      padding: 0 4px;
      border-bottom: 1px solid #fff;

      &:hover {
        border-bottom: 1px solid $color-hover;
      }
    }
    
  }

  &_inner {
    @include innerWidth();
    margin-bottom: 80px;
    padding: 60px 40px 40px;
    background-image: url(../img/top-about.jpg);
    background-size: 110%;
    background-position: center;

    @include pcTab {
      border: 2px solid $color-red;
    }
  }

  &_title {
    margin-bottom: 20px;
    line-height: 1.4;

    @include pcTab {
      font-size: 2.0rem;
    }
    @include sp {
      font-size: 1.6rem;
    }
  }

  &_date {
    display: block;
    margin-bottom: 10px;

    @include pcTab {
      font-size: 1.2rem;
    }
    @include sp {
      font-size: 1.0rem;
    }
  }

  &_chat {
    display: block;
    margin-bottom: 60px;

    a {
      padding: 0 4px;
      border-bottom: 1px solid #fff;

      &:hover {
        border-bottom: 1px solid $color-hover;
      }
    }
  }

  &_entry {
    margin-bottom: 80px;

    @include pcTab {
      font-size: 1.2rem;
    }
    @include sp {
      font-size: 1.0rem;
    }

    span {
      margin-right: 6px;
      margin-left: 6px;

      @include pcTab {
        font-size: 1.6rem;
      }
      @include sp {
        font-size: 1.4rem;
      }  
    }
  }

  &_lottery {
    margin-bottom: 20px;

    p {
      margin-bottom: 30px;

      @include pcTab {
        font-size: 1.0rem;
      }
      @include sp {
        font-size: 0.9rem;
      }

      span {
        display: block;
        position: relative;
        padding-left: 1.2em;

        &::before {
          content: "＊";
          position: absolute;
          left: 0;
        }
      }
    }
    
    button {
      @include linkButton();
    }
  }

  // 抽選済みのスタイル
  &_selected {
    margin-bottom: 20px;
    text-align: center;

    @include pcTab {
      font-size: 1.6rem;
    }
    @include sp {
      font-size: 1.2rem;
    }
  }

  &_info {
    h4 {
      padding: 20px 0;

      @include pcTab {
        font-size: 1.2rem;
      }
      @include sp {
        font-size: 1.0rem;
      }  
    }
  }

  &_players {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    padding-left: 4%;

    li {
      
      @include pcTab {
        width: calc((100% - 20px) / 2);
        font-size: 1.2rem;
      }
      @include sp {
        width: 100%;
        font-size: 1.1rem;
      }
    }
  }
}