// =============================================
// トップページ ファーストビュー
// =============================================
.top_fv {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 48vw;
  min-height: 360px;
  max-height: 700px;
  padding-top: 9vw;
  background-color: $color-bg;
  
  // タイトル
  &-title {
    @include innerWidth(80%);

    p {
      font-weight: bold;
    }

    h1 {
      font-weight: bold;

      @include pcTab {
        margin-bottom: 8%;
      }
      @include sp {
        margin-bottom: 44px;
      }

      span {
        font-size: 1.1em;
      }
    }
  }
  
  // リンクボタン
  &-link {

    li {
      @include pc {
        margin-bottom: 35px;
      }
      @include tab {
        margin-bottom: 20px;
      }

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }

    a {
      @include linkButton();
    }
  }

  // 背景画像
  &-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    overflow: hidden;
    
    img {
      height: 48vw;
      min-height: 100%;
    }
  }

  // 装飾
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    aspect-ratio: 3 / 1;
    background-color: rgba(70, 42, 181, 0.51);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    aspect-ratio: 8.5 / 1;
    background-color: rgba(70, 42, 181, 0.51);
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  }
}

// =============================================
// トップページ street gamesとは
// =============================================
.top_about {
  position: relative;
  width: 100%;
  padding: 16% 0;
  background-image: url(../img/top-about.jpg);
  background-size: 140%;
  background-position: center;

  &-inner {
    @include innerWidth();
  }

  h2 {
    @include sectionTitle();
  }

  p {
    line-height: 1.4;
    text-align: center;

    @include pcTab {
      font-size: 16px;
    }
    @include sp {
      font-size: 12px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    aspect-ratio: 19 / 1;
    background: linear-gradient(177.77deg, #CCBD32 1.88%, #63CC32 172.08%);
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  }
}

// =============================================
// トップページ 開催・参加手順
// =============================================
.top_flow {
  position: relative;
  width: 100%;
  padding: 12% 0;
  background: linear-gradient(180deg, rgba(19, 16, 16, 0.84) 15.52%, rgba(19, 16, 16, 0.5292) 55.55%, rgba(19, 16, 16, 0.84) 100%), url(../img/top-flow.jpg);
  background-size: cover;
  
  @include pcTab {
    background-position: left;
  }
  @include sp {
    background-position: center;
  }

  &-inner {
    @include innerWidth(640px);

    &  > div:first-of-type {
      @include pcTab {
        margin-bottom: 134px;
      }
      @include sp {
        margin-bottom: 80px;
      }
    }
  }

  h2 {
    @include sectionTitle();
  }

  &-lists {
    padding-left: 3em;

    li {
      position: relative;
      
      @include pcTab {
        margin-bottom: 1.8em;
        font-size: 16px;
      }
      @include sp {
        margin-bottom: 1.4em;
        font-size: 12px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      span {
        position: absolute;
        left: -2em;
        
        @include pcTab {
          top: -0.3em;
          font-size: 24px;
        }
        @include sp {
          top: -0.1em;
          font-size: 16px;
        }
      }
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 19 / 1;
    background: linear-gradient(to bottom, rgba(204, 50, 170, 1) 6.6%, rgba(50, 121, 204, 1) 73.49%);
    clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
  }
}

// =============================================
// トップページ 開催手順
// =============================================
.top_vision {
  position: relative;
  width: 100%;
  padding: 10% 0;
  background-image: url(../img/top-vision.jpg);
  background-size: 104%;
  background-position: center;

  &-inner {
    @include innerWidth();
  }

  h2 {
    @include sectionTitle();
  }
}